/*
.table-container {
  font-family: Arial, sans-serif;
  margin: 20px;
}
.table-depenses {
  border-collapse: collapse;
  width: 100%;
  font-size: 13px;
}

.table-depenses th,
.table-depenses td {
  border: 1px solid #aaa;
  padding: 5px;
  text-align: right;
}

.table-depenses th:first-child,
.table-depenses td:first-child {
  text-align: left;
}
*/

.groupe-row {
  background-color: #dce6f1;
  font-weight: bold;
}

.high-value {
  background-color: rgb(244, 94, 94);
  color: black;
}

.low-value {
  background-color: lightgreen;
  color: black;
}

.head-title {
  background-color: rgb(47, 117, 181);
  color: #fff;
}

.head-table {
  background-color: rgb(155, 194, 230);
  color: black;
}

.nature-elt {
  background-color: rgb(221, 235, 247);
  color: black;
}


.table-responsive-scroll {
  min-height: 500px;
  overflow-x: auto;
  overflow-y: hidden;
  border: 1px solid #ddd; /* optionnel : bordure du conteneur */
  display: block;
  width: 100%;
}


.table-responsive-scroll table {
  width: 100%;
  /*table-layout: auto; /* permet aux colonnes de s'adapter au contenu */
  /*min-width: 100px;   /* largeur minimale pour toute la table */
  border-collapse: collapse;

}

.table-responsive-scroll th,
.table-responsive-scroll td {
  white-space: nowrap;
  padding: 8px 12px;
  min-width: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
/*
.table-responsive-scroll thead th {
  position: sticky;
  top: 0;
  background: #f8f9fa;
  z-index: 10;
}
*/
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8); /* voile transparent */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* au-dessus de tout */
}

.loading-overlay p {
  margin-top: 15px;
  font-size: 16px;
  color: #333;
  font-weight: 500;
}

@media print {
  .print-mode {
    max-height: none !important;
    overflow: visible !important;
  }

}




.table-container {
  font-family: Arial, sans-serif;
  margin: 20px;
  overflow-x: auto;
}

.table-depenses,
.table {
  border-collapse: collapse;
  width: 100%;
  font-size: 13px;
  white-space: nowrap;
}

.table-depenses th,
.table-depenses td,
.table th,
.table td {
  border: 1px solid #aaa;
  padding: 5px 8px;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Première colonne : alignement à gauche */
/*
.table-depenses th:first-child,
.table-depenses td:first-child,
.table th:first-child,
.table td:first-child {
  text-align: left;
}*/

.table td:nth-child(1) {
  max-width: 250px;
}

